{% extends 'ice_cream/base.html' %}

{% block content %}

    <h2>Menu</h2>

    <h3>Featured</h3>
        {% for feature in featured %}
        {{ feature.flavor }}
        {% endfor %}

    <h3>Daily Flavor</h3>
        {% for today in daily %}
        {{ daily.flavor }}
        {% endfor %}

    <h3>Our Weekly Flavors</h3>
        {% for week in weekly %}
        {{ weekly.flavor }}
        {% endfor %}

    <h3>Seasonal Flavors</h3>
        {% for season in seasonal %}
        {{ seasonal.flavor }}
        {% endfor %}

{% endblock %}